<h1>User</h1>
<img>Insert Image Here</img>
<p>USERNAME: {{data.username}}</p>
<p>EMAIL: {{data.email}}</p>
<p>Bio: </p> {{!-- add bio --}}
<p>Characters: {{data.characters}}</p>
<a href="/characters/new">Create Character</a>
<p>Groups: {{data.groups}}</p>
<p>Comments: {{data.comments}}</p>
