<h1>User</h1>
<img>Insert Image Here</img>
<p>USERNAME: {{username}}</p>
<p>EMAIL: {{email}}</p>
<p>Bio: </p> {{!-- add bio --}}
<p>Characters: {{Characters}}</p>
<a>Create Character</a>
<p>Groups: {{Groups}}</p>
<p>Comments: {{comments}}</p>
