<h2>{{data.title}}</h2>
<a href='/posts'>Back to all</a>
<div>
  <p><em>written by {{data.username}}</em></p>
  <p>{{data.content}}</p>
</div>
<form action='/posts/{{data._id}}/comments' method='post'>
  <label for='username'>USERNAME: {{username}}</label>
  <br>
  <label for='comment'>COMMENT: </label>
  <br>
  <textarea type='text' id='comment' name='comment' rows='6' cols='40'></textarea>
  <br>
  <br>
  <input type='submit' value='Add Comment'>
</form>