<div class="marginsides">
  <div class='card-deck'>
    <div class='card special-card'>
      <div class='card-body'>
        <h2 class='card-title'>{{data.title}}</h2>
        <p class='card-text'><em>written by {{data.username}}</em></p>
        <p class='card-text'>{{data.content}}</p>
        {{#if username}}
          <a href='/posts/{{data._id}}/new_comment' class="col text-center"><button class='btn btn-primary'>New Comment</button></a>
        {{/if}}
        <h3 class='card-text'>Comments</h3>
        {{#each data.comments}}
          <p class='card-text'><strong>{{username}}</strong> commented:</p>
          <p class='card-text'>{{comment}}</p>
        {{/each}}
        <a href='/posts' class='card-link'>Back to all</a>
      </div>
    </div>
  </div>
</div>