<h2>{{data.title}}</h2>
<a href='/posts'>Back to all</a>
<div>
  <p><em>written by {{data.username}}</em></p>
  <p>{{data.content}}</p>
  {{#if username}}
    <a href='/posts/{{data._id}}/new_comment' class="col text-center"><button class='btn btn-primary'>New Comment</button></a>
  {{/if}}
  <h3>Comments</h3>
  {{#each data.comments}}
    <p><strong>{{username}}</strong> commented:</p>
    <p>{{comment}}</p>
  {{/each}}
</div>